<div class="dialog-window">
  <h2 mat-dialog-title>{{ editMode ? 'Padalinio redagavimas' : 'Naujas padalinys' }}</h2>

  <form (ngSubmit)="onSubmitDepartment(f, data.department)" #f="ngForm">
    <mat-dialog-content>
      <mat-form-field color="accent" class="form-input">
        <input
          matInput
          name="name"
          placeholder="Pavadinimas"
          [(ngModel)]="data.department.name"
          required>
      </mat-form-field>

      <mat-form-field color="accent" class="form-input">
        <input
          matInput
          name="country"
          placeholder="Šalis"
          [(ngModel)]="data.department.country"
          required>
      </mat-form-field>

      <mat-form-field color="accent" class="form-input">
        <input
          matInput
          name="city"
          placeholder="Miestas"
          [(ngModel)]="data.department.city"
          required>
      </mat-form-field>

      <mat-form-field color="accent" class="form-input">
        <input
          matInput
          name="address"
          placeholder="Adresas"
          [(ngModel)]="data.department.address"
          required>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="margin: 20px 10px 0 0; width: 120px;"
        [disabled]="!f.valid">{{ editMode ? 'Atnaujinti' : 'Sukurti padalinį' }}
      </button>

      <button
        mat-raised-button
        color="warn"
        type="button"
        style="margin: 20px 10px 0 0; width: 120px;"
        (click)="onClear()">
        Išvalyti laukus
      </button>
    </mat-dialog-actions>
  </form>
</div>
