<mat-card class="material-card">
  <mat-card-title>Prašome prisijungti</mat-card-title>
  <mat-card-content>
    <form class="form-signin" (ngSubmit)="onSignin(f)" #f="ngForm">
      <mat-form-field color="accent" class="full-width-input">
        <input
          matInput
          placeholder="El. paštas"
          name="email"
          required
          ngModel
          autofocus>
      </mat-form-field>
      <br>

      <mat-form-field color="accent" class="full-width-input" >
        <input
          matInput
          placeholder="Slaptažodis"
          [type]="hide ? 'password' : 'text'"
          name="password"
          required
          ngModel>
        <mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <br>

      <!-- <mat-checkbox
        name="remember"
        ngModel>
        Prisiminti vartotoją
      </mat-checkbox>
      <br> -->

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!f.valid">Prisijungti
      </button>
    </form>
  </mat-card-content>
</mat-card>
