<div class="example-container mat-elevation-z8">
  <mat-toolbar>
    <span class="table-span">Ofisų sąrašas</span>
    <span class="fill-remaining-space"></span>
    <span>
      <a matTooltip="Naujas ofisas" class="table-header-icon" (click)="onNewOffice()"><mat-icon>home</mat-icon></a>
    </span>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="query">
  </mat-progress-bar>

  <!-- <button
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewOffice()"
    style="margin: 25px;">Naujas ofisas</button> -->

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Pavadinimas </mat-header-cell>
      <mat-cell *matCellDef="let office"> {{office.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Šalis </mat-header-cell>
      <mat-cell *matCellDef="let office"> {{office.country}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> Miestas </mat-header-cell>
      <mat-cell *matCellDef="let office"> {{office.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Adresas </mat-header-cell>
      <mat-cell *matCellDef="let office"> {{office.address}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let office">
        <a class="icon-link" (click)="onDeleteOffice(office, $event)"><mat-icon>clear</mat-icon></a>
      </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateOffice(row)" class="mat-table-row"></mat-row>
  </mat-table>
</div>
