<div class="example-container mat-elevation-z8">

  <mat-toolbar>
    <span class="table-span">{{
       page === 'manage_requests' ? 'Prašymų administravimas' :
       page === 'my_requests' ? 'Mano turto prašymai' :
       page === 'my_assets' ? 'Man priskirtas turtas' : 'Priskirtas turtas'
    }}</span>
    <span class="fill-remaining-space"></span>
    <span>
      <a 
        *ngIf="page !== 'manage_requests'"
        [matTooltip]="page === 'my_requests' || page === 'my_assets' ? 'Naujas turto prašymas' : 'Priskirti turtą'" 
        class="table-header-icon" 
        (click)="onNewAssetAssignment()">
      <mat-icon>assignment</mat-icon></a>
    </span>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="query">
  </mat-progress-bar>
  
  <!-- <button
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewAssetAssignment()"
    style="margin: 25px; width: 200px"
    *ngIf="page !== 'manage_requests'">{{ page === 'my_requests' || page === 'my_assets' ? 'Naujas turto prašymas' : 'Priskirti turtą' }}
  </button> -->

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="asset">
      <mat-header-cell *matHeaderCellDef> Kas priskirta </mat-header-cell>
      <mat-cell *matCellDef="let asset_assignment"> {{asset_assignment.asset.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assigned_to">
      <mat-header-cell *matHeaderCellDef> Kam priskirta </mat-header-cell>
      <mat-cell *matCellDef="let asset_assignment">
        <span *ngIf="page === 'my_requests'">{{ asset_assignment.office_id ? 'Ofisui' : 'Man' }}</span>
        <span *ngIf="page !== 'my_requests'">{{ asset_assignment.office_id ? asset_assignment.office.name : asset_assignment.employee.contact.first_name + ' ' + asset_assignment.employee.contact.last_name }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assignment_date">
      <mat-header-cell *matHeaderCellDef> Priskyrimo data </mat-header-cell>
      <mat-cell *matCellDef="let asset_assignment"> {{asset_assignment.assignment_date | date: 'yyyy-MM-dd'}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="deadline">
      <mat-header-cell *matHeaderCellDef> Grąžinimo terminas </mat-header-cell>
      <mat-cell *matCellDef="let asset_assignment"> {{asset_assignment.deadline | date: 'yyyy-MM-dd'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="request_message">
      <mat-header-cell style="padding-right: 10px" *matHeaderCellDef> Prašymas </mat-header-cell>
      <mat-cell style="padding-right: 10px" *matCellDef="let asset_assignment">
        {{ (asset_assignment.request_message).length > 20 ? ((asset_assignment.request_message | slice:0:20) + '...') : asset_assignment.request_message }} 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="is_confirmed">
      <mat-header-cell *matHeaderCellDef> Būsena </mat-header-cell>
      <mat-cell *matCellDef="let asset_assignment"> 
        {{ asset_assignment.is_confirmed === null ?  'Laukia patvirtinimo' : asset_assignment.is_confirmed ? 'Priimtas' : 'Atmestas' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="confirmed_by">
      <mat-header-cell *matHeaderCellDef> Prašymą patvirtino </mat-header-cell>
      <mat-cell *matCellDef="let asset_assignment"> 
        {{asset_assignment.confirmed_by_user ? asset_assignment.confirmed_by_user.contact.first_name : ''}} 
        {{asset_assignment.confirmed_by_user ? asset_assignment.confirmed_by_user.contact.last_name : ''}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="return">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 25px;"></mat-header-cell>
      <mat-cell *matCellDef="let asset_assignment" style="flex: 0 0 25px;">
        <a class="icon-link" matTooltip="Grąžinti" (click)="onReturnAsset($event, asset_assignment)">
          <!-- <mat-icon *ngIf="new Date(asset_assignment.deadline) < currentDate">assignment late</mat-icon> -->
          <mat-icon>assignment_return</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateAssetAssignment(row)" class="mat-table-row"></mat-row>
  </mat-table>
</div>
