<div class="example-container mat-elevation-z8">
    <mat-toolbar>
      <span class="table-span">{{
        my_history ? 'Mano darbo istorija' : 'Darbo istorija: ' + first_name + ' ' + last_name }}</span>
      <span class="fill-remaining-space"></span>
      <span>
        <a *ngIf="!my_history" matTooltip="Nauja darbo istorija" class="table-header-icon" (click)="onNewEmployeeHistory()"><mat-icon>work</mat-icon></a>
      </span>
    </mat-toolbar>

    <mat-progress-bar
      *ngIf="loading"
      color="accent"
      mode="query">
    </mat-progress-bar>
<!-- 
    <button
      mat-raised-button
      class="table-button"
      color="accent"
      (click)="onNewEmployeeHistory()"
      style="margin: 25px; width: 200px">Nauja darbo istorija</button> -->
  
    <mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Pareigos </mat-header-cell>
        <mat-cell *matCellDef="let employee_history"> {{employee_history.position.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef> Data nuo </mat-header-cell>
        <mat-cell *matCellDef="let employee_history"> {{employee_history.from}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef> Data iki </mat-header-cell>
        <mat-cell *matCellDef="let employee_history"> {{employee_history.to}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateEmployeeHistory(row)" class="mat-table-row"></mat-row>
    </mat-table>
  </div>
  