<div class="dialog-window">
  
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-dialog-content>
        <h4 style="margin-bottom: 15px">Turto grąžinimas</h4>
        <mat-form-field color="accent" style="width: 100%">
          <textarea 
            matInput 
            name="return_reason"
            placeholder="Grąžinimo priežastis"
            [(ngModel)]="data.asset_assignment.return_reason">
          </textarea>
        </mat-form-field>
      </mat-dialog-content>
    
      <mat-dialog-actions>
        <button
          mat-raised-button
          color="warn"
          type="button"
          style="margin: 20px 10px 0 0; width: 100px;"
          (click)="onConfirm()">
          Grąžinti
        </button>
        <button
          mat-raised-button
          color="accent"
          type="button"
          style="margin: 20px 10px 0 0; width: 100px;"
          (click)="onCancel()">
          Atšaukti
        </button>
      </mat-dialog-actions>
    </form>
    
  </div>
  