<div class="example-container mat-elevation-z8">
    <mat-toolbar>
      <span class="table-span">Pareigų sąrašas</span>
      <span class="fill-remaining-space"></span>
      <span>
        <a matTooltip="Naujos pareigos" class="table-header-icon" (click)="onNewPosition()"><mat-icon>assignment_ind</mat-icon></a>
      </span>
    </mat-toolbar>

    <mat-progress-bar
      *ngIf="loading"
      color="accent"
      mode="query">
    </mat-progress-bar>

    <!-- <button
      mat-raised-button
      class="table-button"
      color="accent"
      (click)="onNewPosition()"
      style="margin: 25px;">Naujos pareigos</button> -->
  
    <mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Pavadinimas </mat-header-cell>
        <mat-cell *matCellDef="let position"> {{position.name}} </mat-cell>
      </ng-container>
  
      <!-- <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let position">
          <a class="icon-link" (click)="onDeletePosition(position, $event)"><mat-icon>clear</mat-icon></a>
        </mat-cell>
      </ng-container> -->
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdatePosition(row)" class="mat-table-row"></mat-row>
    </mat-table>
  </div>
  