.example-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-width: 300px;
    max-width: 90%;
    margin: 50px auto;
}

.table-form {
    width: 15%;
    margin-right: 25px;
}