<div class="example-container mat-elevation-z8">
  <mat-toolbar>
    <span class="table-span">Įmonės turto sąrašas</span>
    
    <span class="fill-remaining-space"></span>
    <span>
      <a matTooltip="Naujas turto įrašas" class="table-header-icon" (click)="onNewAsset()"><mat-icon>add_shopping_cart</mat-icon></a>
    </span>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="query">
  </mat-progress-bar>

  <form style="margin-top: 10px" (ngSubmit)="onShowExpenses()">

      <mat-form-field color="accent" class="table-form" style="margin-left: 25px">
        <input 
          matInput
          name="startDate"
          placeholder="Nuo"
          [(ngModel)]="startDate"
          [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="table-form">
        <input 
          matInput
          name="endDate"
          placeholder="Iki"
          [(ngModel)]="endDate"
          [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="year"></mat-datepicker>
      </mat-form-field>

      <a type="submit" matTooltip="Rodyti išlaidas" class="table-header-icon" (click)="onShowExpenses()"><mat-icon style="vertical-align: middle">search</mat-icon></a>
      
      <span style="margin-top: 10px; font-size: 16px; width: 30%; float: right; text-align: right" class="table-form">
        Turto išlaidų suma: {{ totalValue ? (totalValue | number:'.2').toLocaleString() + ' €' : '-'}}
      </span>
      <!-- <button
        mat-raised-button
        color="accent"
        type="submit"
        style="margin: 20px 10px 0 0; width: 120px;">Rodyti
      </button> -->
  </form>

  

  <!-- <button
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewAsset()"
    style="margin: 25px; width: 200px">Naujas turto įrašas
  </button> -->

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Pavadinimas </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef> Vertė </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{ asset.value ? (asset.value | number:'.2') + ' €' : '-'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acquisition_date">
      <mat-header-cell *matHeaderCellDef> Įsigijimo data </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.acquisition_date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Tipas </mat-header-cell>
      <mat-cell *matCellDef="let asset"> {{asset.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="is_assigned">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 100px;"> Būsena </mat-header-cell>
      <mat-cell style="flex: 0 0 100px;" *matCellDef="let asset"> {{asset.is_assigned ? 'Priskirtas' : ''}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateAsset(row)" class="mat-table-row"></mat-row>
  </mat-table>
</div>
