<div class="dialog-window">
  <h2 mat-dialog-title>{{ editMode ? 'Turto įrašo redagavimas' : 'Naujas turto įrašas' }}</h2>

  <form (ngSubmit)="onSubmitAsset(data.asset)" #f="ngForm">
    <mat-dialog-content style="min-height: 150px">
      <mat-form-field color="accent" class="half-width">
        <input
          matInput
          name="name"
          placeholder="Pavadinimas"
          [(ngModel)]="data.asset.name"
          required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width">
        <input
          matInput
          name="value"
          placeholder="Vertė"
          type="number"
          [(ngModel)]="data.asset.value">
      </mat-form-field>

      <mat-form-field color="accent" class="half-width">
        <input 
          matInput
          name="acquisition_date"
          placeholder="Įsigyjimo data"
          [(ngModel)]="data.asset.acquisition_date"
          [matDatepicker]="picker"
          [required]="editMode">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width">
        <mat-select placeholder="Tipas" name="type" [(ngModel)]="data.asset.type" required>
          <mat-option value="materialinis">Materialinis</mat-option>
          <mat-option value="intelektinis">Intelektinis</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox
        name="is_assigned" 
        [(ngModel)]="data.asset.is_assigned"
        disabled="true">
          Priskirtas
      </mat-checkbox>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="margin: 20px 10px 0 0; width: 120px;"
        [disabled]="!f.valid">{{ editMode ? 'Atnaujinti' : 'Sukurti įrašą' }}
      </button>

      <button
        mat-raised-button
        color="warn"
        type="button"
        style="margin: 20px 10px 0 0; width: 120px;"
        (click)="onClear()">
        Išvalyti laukus
      </button>
    </mat-dialog-actions>
  </form>
</div>
