<div class="example-container mat-elevation-z8">
  <mat-toolbar>
    <span class="table-span">Darbuotojų sąrašas</span>
    <span class="fill-remaining-space"></span>
    <span>
      <a matTooltip="Naujas darbuotojas" class="table-header-icon" (click)="onNewEmployee()"><mat-icon>account_box</mat-icon></a>
    </span>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="query">
  </mat-progress-bar>

  <!-- <button
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewEmployee()"
    style="margin: 25px;">Naujas darbuotojas</button> -->

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef> Vardas </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.contact.first_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef> Pavardė </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.contact.last_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Telefono nr. </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.contact.phone}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> El. paštas </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{(employee.contact.email + '').length > 18 ? ((employee.contact.email | slice:0:20) + '...') : employee.contact.email }} </mat-cell>
    </ng-container> -->

    <!-- <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Adresas </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.contact.address}}, {{employee.contact.city}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Pareigos </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{ employee.employee_history.length !== 0 ? employee.employee_history[0].position.name : 'Nepriskirta' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Statusas </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.contact.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 25px;"></mat-header-cell>
      <mat-cell *matCellDef="let employee" style="flex: 0 0 25px;">
        <a class="icon-link" matTooltip="Darbuotojo istorijos ir paskyros valdymas" (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu"><mat-icon>assignment</mat-icon></a>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="showHistory(employee, 'salary_history')">Atlyginimų istorija</button>
          <button mat-menu-item (click)="showHistory(employee, 'holiday_history')">Atostogų istorija</button>
          <button mat-menu-item (click)="showHistory(employee, 'employee_history')">Darbo istorija</button>
          <button *ngIf="!employee.user_id" mat-menu-item (click)="createAccount(employee, 'employee')">Sukurti darbuotojo paskyrą</button>
          <button *ngIf="!employee.user_id" mat-menu-item (click)="createAccount(employee, 'manager')">Sukurti vadybininko paskyrą</button>
          <button *ngIf="employee.user_id" mat-menu-item (click)="suspendAccount(employee)">Suspenduoti paskyrą</button>
          <button *ngIf="employee.user_id" mat-menu-item (click)="resetPassword(employee)">Atstatyti slaptažodį</button>
        </mat-menu>
        <!-- <a class="icon-link" (click)="onDeleteEmployee(employee, $event)"><mat-icon>clear</mat-icon></a> -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateEmployee(row)" class="mat-table-row"></mat-row>
  </mat-table>
</div>
