<div class="dialog-window">
  <mat-dialog-content>
    <h4>Ar tikrai norite ištrinti {{ data.type }}?</h4>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-raised-button
      color="warn"
      type="button"
      style="margin: 20px 10px 0 0; width: 100px;"
      (click)="onConfirm()">
      Taip
    </button>
    <button
      mat-raised-button
      color="accent"
      type="button"
      style="margin: 20px 10px 0 0; width: 100px;"
      (click)="onCancel()">
      Ne
    </button>
  </mat-dialog-actions>
</div>
