<div class="dialog-window">
  <h2 mat-dialog-title>{{ data.my_history ? 'Atlyginimo istorijos įrašas' : 
      editMode ? 'Atlyginimo istorijos redagavimas' : 'Nauja atlyginimo istorija' }}</h2>

  <form (ngSubmit)="onSubmitSalaryHistory(f, data.employee_salary_history)" #f="ngForm">
    <mat-dialog-content style="min-height: 100px">
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="salary"
          type="number"
          placeholder="Atlyginimas"
          [(ngModel)]="data.employee_salary_history.salary"
          [disabled]="data.my_history"
          required>
      </mat-form-field>

      <mat-form-field color="accent" class="third-width">
        <input 
          matInput
          name="from"
          placeholder="Data nuo"
          [(ngModel)]="data.employee_salary_history.from"
          [matDatepicker]="picker1"
          [disabled]="data.my_history"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="month"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="third-width">
        <input 
          matInput
          name="to"
          placeholder="Data iki"
          [(ngModel)]="data.employee_salary_history.to"
          [disabled]="data.my_history"
          [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="month"></mat-datepicker>
      </mat-form-field>

      <mat-checkbox
        class="third-width"
        name="is_fixed" 
        [disabled]="data.my_history"
        [(ngModel)]="data.employee_salary_history.is_fixed">
          Fiksuotas
      </mat-checkbox><br>

      <mat-form-field class="form-input" *ngIf="!data.employee_salary_history.is_fixed">
        <textarea 
          matInput 
          name="variable_part_description"
          [(ngModel)]="data.employee_salary_history.variable_part_description"
          [disabled]="data.my_history"
          placeholder="Kintamos dalies aprašymas">
        </textarea>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions *ngIf="!data.my_history">
      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="margin: 20px 10px 0 0; width: 120px;"
        [disabled]="!f.valid">{{ editMode ? 'Atnaujinti' : 'Sukurti istoriją' }}
      </button>

      <button
        mat-raised-button
        color="warn"
        type="button"
        style="margin: 20px 10px 0 0; width: 120px;"
        (click)="onClear()">
        Išvalyti laukus
      </button>
    </mat-dialog-actions>
  </form>
</div>
