<div class="dialog-window">
    <h2 mat-dialog-title>{{ editMode ? 'Pareigų redagavimas' : 'Naujos pareigos' }}</h2>
  
    <form (ngSubmit)="onSubmitPosition(f, data.position)" #f="ngForm">
      <mat-dialog-content>
        <mat-form-field color="accent" class="form-input">
          <input
            matInput
            name="name"
            placeholder="Pavadinimas"
            [(ngModel)]="data.position.name"
            required>
        </mat-form-field>
      </mat-dialog-content>
  
      <mat-dialog-actions>
        <button
          mat-raised-button
          color="accent"
          type="submit"
          style="margin: 20px 0 0 0; width: 100%;"
          [disabled]="!f.valid">{{ editMode ? 'Atnaujinti' : 'Sukurti pareigas' }}
        </button>
      </mat-dialog-actions>
    </form>
  </div>
  