<mat-progress-bar
  *ngIf="loading"
  color="accent"
  mode="query">
</mat-progress-bar>
<mat-card class="material-card">
  

  <mat-card-title>Slaptažodžio keitimo forma</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onChangePassword(f)" #f="ngForm">
      <mat-form-field color="accent" class="full-width-input">
        <input
          matInput
          placeholder="Dabartinis slaptažodis"
          [type]="hide1 ? 'password' : 'text'"
          name="current"
          required
          [(ngModel)]="current_password"
          autofocus>
        <mat-icon style="cursor: pointer" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field color="accent" class="full-width-input" >
        <input
          matInput
          placeholder="Naujas slaptažodis"
          [type]="hide2 ? 'password' : 'text'"
          name="new"
          required
          [(ngModel)]="new_password">
        <mat-icon style="cursor: pointer" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>

      </mat-form-field>

      <mat-form-field color="accent" class="full-width-input" >
        <input
          matInput
          placeholder="Pakartokite naują slaptažodį"
          [type]="hide2 ? 'password' : 'text'"
          name="repeat_new"
          required
          [(ngModel)]="repeat_new">
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!f.valid || new_password !== repeat_new">Pakeisti slaptažodį
      </button>
    </form>
  </mat-card-content>
</mat-card>
