<app-header *ngIf="this.router.url != '/signin'"></app-header>
<mat-progress-bar
    *ngIf="loading"
    class="example-margin"
    color="primary"
    mode="query">
</mat-progress-bar>
<router-outlet></router-outlet>
