<mat-toolbar>

  <span></span>

  <!-- <span class="example-fill-remaining-space"></span> -->

  <!-- <button matTooltip="Meniu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button> -->

  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="requests">Prašymai</button>
    <button mat-menu-item [matMenuTriggerFor]="manageRequests">Prašymų administravimas</button>
    <button mat-menu-item [matMenuTriggerFor]="companyManagement">Įmonės administravimas</button>
    <button mat-menu-item [matMenuTriggerFor]="account">Paskyra</button>
    <button mat-menu-item (click)="router.navigate(['documents'])">Dokumentai</button>
  </mat-menu> -->

  
  <span style="margin-left: 5%">
    <button *ngIf="role !== 'administrator'" mat-button [matMenuTriggerFor]="requests">Prašymai <mat-icon>expand_more</mat-icon></button>
    <mat-menu #requests="matMenu" [overlapTrigger]="false">
      <!-- <button mat-menu-item (click)="onNewHolidayRequest()">Pildyti atostogų prašymą</button> -->
      <button mat-menu-item (click)="router.navigate(['employees/my_holiday_requests'])">Mano atostogų prašymai</button>
      <button mat-menu-item (click)="onGetMyRequests()">Mano turto prašymai</button> 
    </mat-menu>
  </span>

  <span>
    <button mat-button [matMenuTriggerFor]="myData">Mano duomenys <mat-icon>expand_more</mat-icon></button>
    <mat-menu #myData="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="router.navigate(['documents'])">Dokumentai</button>   
      <button *ngIf="role !== 'administrator'" mat-menu-item (click)="onGetMyAssets()">Man priskirtas turtas</button>            
      <button *ngIf="role !== 'administrator'" mat-menu-item (click)="onGetMySalaryHistory()">Atlyginimų istorija</button>      
      <!-- <button mat-menu-item>Atostogų istorija</button>       -->
      <button *ngIf="role !== 'administrator'" mat-menu-item (click)="onGetMyEmploymentHistory()">Darbo istorija</button> 
    </mat-menu>
  </span>

  <span>
    <button *ngIf="role !== 'employee'" mat-button [matMenuTriggerFor]="manageRequests">Prašymų administravimas <mat-icon>expand_more</mat-icon></button>
    <mat-menu #manageRequests="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="router.navigate(['employees/holiday_history/requests'])">Administruoti atostogų prašymus</button>  
      <button mat-menu-item (click)="onGetAssetRequests()">Administruoti turto prašymus</button>      
      <!-- <button mat-menu-item (click)="onNewAssetRequest()">Pildyti turto prašymą</button>       -->
    </mat-menu>
  </span>

  <span>
    <button *ngIf="role === 'administrator'" mat-button [matMenuTriggerFor]="companyManagement">Įmonės administravimas <mat-icon>expand_more</mat-icon></button>
    <mat-menu #companyManagement="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="router.navigate(['employees'])">Darbuotojai</button>          
      <button mat-menu-item (click)="router.navigate(['departments'])">Padaliniai</button>
      <button mat-menu-item (click)="this.router.navigate(['offices'])">Ofisai</button>
      <button mat-menu-item (click)="this.router.navigate(['positions'])">Pareigos</button>
      <button mat-menu-item (click)="router.navigate(['assets'])">Įmonės turtas</button> 
      <button mat-menu-item (click)="onGetAssetAssignments()">Priskirtas turtas</button>      
    </mat-menu>
  </span>

  <span class="example-fill-remaining-space"></span>
  

  <span style="margin-right: 5%">
    <button mat-button matTooltip="Paskyros tvarkymas" [matMenuTriggerFor]="account">{{ name ? name : 'Paskyra' }} <mat-icon>expand_more</mat-icon></button>
    <mat-menu #account="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="router.navigate(['change-password'])">Keisti slaptažodį</button>
      <button mat-menu-item (click)="onSignOut()">Atsijungti</button>
    </mat-menu>
  </span>

</mat-toolbar>
