.material-card {
  margin: 100px auto;
  padding: 50px 50px;
  min-width: 300px;
  max-width: 600px;
}

.form-input {
  width: 90%;
}

.half-width {
  width: 45%;
  margin-right: 30px;
}

.third-width {
  width: 30%;
  margin-right: 15px;
}

.story-panel {
  margin: 0 0 25px 0;
  padding: 0;
}