<div class="dialog-window">
  <h2 mat-dialog-title>{{ editMode ? 'Darbuotojo informacija' : 'Naujas darbuotojas' }}</h2>

  <form (ngSubmit)="onSubmitEmployee(f, data.employee)" #f="ngForm">
    <mat-dialog-content>
      <!-- Vardas -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="first_name"
          placeholder="Vardas"
          [(ngModel)]="data.employee.contact.first_name"
          required>
      </mat-form-field>

      <!-- Pavarde -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="last_name"
          placeholder="Pavardė"
          [(ngModel)]="data.employee.contact.last_name"
          required>
      </mat-form-field>

      <!-- Pareigos -->
      <mat-form-field class="third-width">
        <input 
          matInput 
          name="position" 
          placeholder="Pareigos" 
          [matAutocomplete]="positionAC" 
          [(ngModel)]="data.employee.employee_history[0].position.name" 
          (keyup)="filterPositions($event.target.value)"
          required>
        <mat-autocomplete #positionAC="matAutocomplete">
          <mat-option *ngFor="let position of filteredPositions" [value]="position.name">
            {{ position.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Statusas -->
      <mat-form-field color="accent" class="third-width">
        <mat-select placeholder="Statusas" name="status" [(ngModel)]="data.employee.contact.status" required>
          <mat-option value="dirba">Dirba</mat-option>
          <mat-option value="atostogauja">Atostogauja</mat-option>
          <mat-option value="nebedirba">Nebedirba</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Lytis -->
      <mat-form-field color="accent" class="third-width">
        <mat-select placeholder="Lytis" name="gender" [(ngModel)]="data.employee.contact.gender" required>
          <mat-option value="m">Vyras</mat-option>
          <mat-option value="f">Moteris</mat-option>
          <mat-option value="o">Kita</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Gimimo data -->
      <mat-form-field color="accent" class="third-width">
        <input 
          matInput
          name="dob"
          placeholder="Gimimo data"
          [(ngModel)]="data.employee.contact.dob"
          [matDatepicker]="picker"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
      </mat-form-field>

      <!-- El. pastas -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="email"
          placeholder="El. paštas"
          [(ngModel)]="data.employee.contact.email"
          required>
      </mat-form-field>

      <!-- Tel. nr -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="phone"
          placeholder="Telefono nr."
          [(ngModel)]="data.employee.contact.phone"
          required>
      </mat-form-field>

      <!-- Asmens kodas -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="nin"
          placeholder="Asmens kodas"
          [(ngModel)]="data.employee.contact.nin"
          required>
      </mat-form-field>

      <!-- Atlyginimas -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          type="number"
          name="salary"
          placeholder="Atlyginimas"
          [(ngModel)]="data.employee.employee_salary_history[0].salary"
          required>
      </mat-form-field>

      <!-- Ofisas -->
      <mat-form-field class="third-width">
        <input 
          matInput 
          name="office" 
          placeholder="Ofisas" 
          [matAutocomplete]="officeAC" 
          [(ngModel)]="data.employee.office.name" 
          (keyup)="filterOffices($event.target.value)"
          required>
        <mat-autocomplete #officeAC="matAutocomplete">
          <mat-option *ngFor="let office of filteredOffices" [value]="office.name">
            {{ office.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Padalinys -->
      <mat-form-field class="third-width">
        <input 
          matInput
          name="department"
          placeholder="Padalinys"
          [matAutocomplete]="departmentAC"
          [(ngModel)]="data.employee.department.name"
          (keyup)="filterDepartments($event.target.value)"
          required>
        <mat-autocomplete #departmentAC="matAutocomplete">
          <mat-option *ngFor="let department of filteredDepartments" [value]="department.name">
            {{ department.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Salis -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="country"
          placeholder="Šalis"
          [(ngModel)]="data.employee.contact.country"
          required>
      </mat-form-field>

      <!-- Miestas -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="city"
          placeholder="Miestas"
          [(ngModel)]="data.employee.contact.city"
          required>
      </mat-form-field>

      <!-- Adresas -->
      <mat-form-field color="accent" class="third-width">
        <input
          matInput
          name="address"
          placeholder="Adresas"
          [(ngModel)]="data.employee.contact.address"
          required>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="margin: 20px 10px 0 0; width: 150px;"
        [disabled]="!f.valid">{{ editMode ? 'Atnaujinti' : 'Registruoti' }}
      </button>

      <button
        mat-raised-button
        color="warn"
        type="button"
        style="margin: 20px 10px 0 0; width: 150px;"
        (click)="onClear()">
        Išvalyti laukus
      </button>
    </mat-dialog-actions>
  </form>
</div>
