<div class="example-container mat-elevation-z8">
  <mat-toolbar>
    <span class="table-span">
      {{ managing ? 'Atostogų prašymai' : my_history ? 'Mano atostogų prašymai' : 'Atostogų istorija: ' + first_name + ' ' + last_name }}
    </span>
    <span class="fill-remaining-space"></span>
    <span>
      <a 
        *ngIf="!managing"
        [matTooltip]="my_history ? 'Naujas atostogų prašymas' : 'Naujas atostogų įrašas'" 
        class="table-header-icon" 
        (click)="onNewHolidayHistory()">
      <mat-icon>card_travel</mat-icon></a>
    </span>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="query">
  </mat-progress-bar>

  <!-- <button *ngIf="!managing"
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewHolidayHistory()"
    style="margin: 25px; width: 200px">{{ my_history ? 'Naujas atostogų prašymas' : 'Naujas atostogų įrašas' }}</button> -->

  <mat-table #table [dataSource]="dataSource">
    <ng-container *ngIf="managing" matColumnDef="submitted_by">
      <mat-header-cell *matHeaderCellDef> Prašymą pateikė </mat-header-cell>
      <mat-cell *matCellDef="let employee_holiday_history"> 
        {{employee_holiday_history.employee_id ? employee_holiday_history.employee.contact.first_name : ''}} 
        {{employee_holiday_history.employee_id ? employee_holiday_history.employee.contact.last_name : ''}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Tipas </mat-header-cell>
      <mat-cell *matCellDef="let employee_holiday_history"> {{employee_holiday_history.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef> Data nuo </mat-header-cell>
      <mat-cell *matCellDef="let employee_holiday_history"> {{employee_holiday_history.from}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="to">
      <mat-header-cell *matHeaderCellDef> Data iki </mat-header-cell>
      <mat-cell *matCellDef="let employee_holiday_history"> {{employee_holiday_history.to}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="responsible_employee">
      <mat-header-cell *matHeaderCellDef> Atsakingas darbuotojas </mat-header-cell>
      <mat-cell *matCellDef="let employee_holiday_history"> 
        {{ (employee_holiday_history.responsible_employee !== null && employee_holiday_history.responsible_employee.contact) ? employee_holiday_history.responsible_employee.contact.first_name : '' }} 
        {{ (employee_holiday_history.responsible_employee !== null && employee_holiday_history.responsible_employee.contact) ? employee_holiday_history.responsible_employee.contact.last_name : '' }}
      </mat-cell>
    </ng-container>

    <ng-container *ngIf="!managing && my_history" matColumnDef="is_confirmed">
        <mat-header-cell *matHeaderCellDef> Būsena </mat-header-cell>
        <mat-cell *matCellDef="let employee_holiday_history"> 
          {{ employee_holiday_history.is_confirmed === null ?  'Laukia patvirtinimo' : employee_holiday_history.is_confirmed ? 'Priimtas' : 'Atmestas' }} </mat-cell>
      </ng-container>

    <ng-container *ngIf="!managing" matColumnDef="confirmed_by">
      <mat-header-cell *matHeaderCellDef> Prašymą patvirtino </mat-header-cell>
      <mat-cell *matCellDef="let employee_holiday_history"> 
        {{employee_holiday_history.confirmed_by ? employee_holiday_history.confirmed_by.contact.first_name : ''}} 
        {{employee_holiday_history.confirmed_by ? employee_holiday_history.confirmed_by.contact.last_name : ''}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateHolidayHistory(row)" class="mat-table-row"></mat-row>
  </mat-table>
</div>
