<div class="dialog-window">
  <h2 mat-dialog-title>{{ data.editMode ? 'Dokumento redagavimas' : 'Naujas dokumentas' }}</h2>

  <form (ngSubmit)="onSubmitDocument(f, data.document)" #f="ngForm">
    <mat-dialog-content>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="title" placeholder="Dokumento pavadinimas" [(ngModel)]="data.document.title" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="position" placeholder="Pareigos" [(ngModel)]="data.document.salary_transaction_request.position" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="first_name" placeholder="Vardas" [(ngModel)]="data.document.salary_transaction_request.first_name" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="last_name" placeholder="Pavardė" [(ngModel)]="data.document.salary_transaction_request.last_name" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="company_name" placeholder="Įmonės pavadinimas" [(ngModel)]="data.document.salary_transaction_request.company_name" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="company_representative" placeholder="Įmonės atstovas" [(ngModel)]="data.document.salary_transaction_request.company_representative" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input 
          matInput
          name="date"
          placeholder="Prašymo data"
          [(ngModel)]="data.document.salary_transaction_request.date"
          [matDatepicker]="picker1"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="month"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="bank" placeholder="Banko pavadinimas" [(ngModel)]="data.document.salary_transaction_request.bank" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="bank_account_number" placeholder="Banko sąskaitos nr." [(ngModel)]="data.document.salary_transaction_request.bank_account_number" required>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="margin: 20px 10px 0 0; width: 160px;"
        [disabled]="!f.valid">{{ data.editMode ? 'Atnaujinti' : 'Sukurti dokumentą' }}
      </button>

      <button
        mat-raised-button
        color="warn"
        type="button"
        style="margin: 20px 10px 0 0; width: 160px;"
        (click)="onClear()">
        Išvalyti laukus
      </button>
    </mat-dialog-actions>
  </form>
</div>
