.material-card {
    margin: 100px auto;
    padding: 50px 50px;
    min-width: 300px;
    max-width: 600px;
  }
  
  .form-input {
    width: 100%;
  }
  
  .half-width-first {
    width: 48%;
    margin-right: 3%;
  }

  .half-width-second {
    width: 48%;
  }