<div class="dialog-window">
    <h2 mat-dialog-title>{{ data.editMode ? 'Dokumento redagavimas' : 'Naujas dokumentas' }}</h2>
  
    <form (ngSubmit)="onSubmitDocument()" #f="ngForm">
      <mat-dialog-content>
  
        <mat-form-field color="accent" class="half-width-first">
          <input matInput name="title" placeholder="Dokumento pavadinimas" [(ngModel)]="data.document.title" required>
        </mat-form-field>
  
        <mat-form-field color="accent" class="half-width-second">
          <input matInput name="company_name" placeholder="Įmonės pavadinimas" [(ngModel)]="data.document.nti_application_request.company_name" required>
        </mat-form-field>
  
        <mat-form-field color="accent" class="half-width-first">
          <input matInput name="first_name" placeholder="Vardas" [(ngModel)]="data.document.nti_application_request.first_name" required>
        </mat-form-field>
  
        <mat-form-field color="accent" class="half-width-second">
          <input matInput name="last_name" placeholder="Pavardė" [(ngModel)]="data.document.nti_application_request.last_name" required>
        </mat-form-field>

        <mat-form-field color="accent" class="half-width-first">
          <input matInput name="nin" placeholder="Asmens kodas" [(ngModel)]="data.document.nti_application_request.nin" required>
        </mat-form-field>

        <mat-form-field color="accent" class="half-width-second">
          <input matInput name="country" placeholder="Šalis" [(ngModel)]="data.document.nti_application_request.country" required>
        </mat-form-field>

        <mat-form-field color="accent" class="half-width-first">
          <input matInput name="city" placeholder="Miestas" [(ngModel)]="data.document.nti_application_request.city" required>
        </mat-form-field>

        <mat-form-field color="accent" class="half-width-second">
          <input matInput name="address" placeholder="Adresas" [(ngModel)]="data.document.nti_application_request.address" required>
        </mat-form-field>

        <mat-form-field color="accent" class="half-width-first">
          <input 
            matInput
            name="request_date"
            placeholder="Prašymo data"
            [(ngModel)]="data.document.nti_application_request.request_date"
            [matDatepicker]="picker1"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent" class="half-width-second">
          <input 
            matInput
            name="nti_application_date"
            placeholder="NPD taikymo data"
            [(ngModel)]="data.document.nti_application_request.nti_application_date"
            [matDatepicker]="picker2"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 startView="month"></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field color="accent" class="half-width-first">
          <input matInput name="children_info" placeholder="Informacija apie vaikus" [(ngModel)]="data.document.nti_application_request.children_info">
        </mat-form-field>

      </mat-dialog-content>
  
      <mat-dialog-actions>
        <button
          mat-raised-button
          color="accent"
          type="submit"
          style="margin: 20px 10px 0 0; width: 160px;"
          [disabled]="!f.valid">{{ data.editMode ? 'Atnaujinti' : 'Sukurti dokumentą' }}
        </button>
  
        <button
          mat-raised-button
          color="warn"
          type="button"
          style="margin: 20px 10px 0 0; width: 160px;"
          (click)="onClear()">
          Išvalyti laukus
        </button>
      </mat-dialog-actions>
    </form>
  </div>
  