/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.submit-button {
  width: 150px;
  margin-top: 40px;
  margin-right: 20px;
}

.table-button {
  width: 150px;
  margin: 10px;
  color: grey;
}

.table-span {
  margin-left: 10px;
}

.dialog-window {
  margin: 15px;
}

.icon-link {
  color: #FD4382;
  cursor: pointer;
}

.icon-link:hover{
  color: #21292A;
}

.table-header-icon {
  width: 15px;
  margin-right: 10px;
  color: #FD4382;
  cursor: pointer;
}

.table-header-icon:hover {
  color: #21292A;
}

.mat-table {
  overflow: auto;
  max-height: 90%;
}

.mat-table-row {
  cursor: pointer;
}

.mat-table-row:hover {
  background: #F5F5F5
}

.fill-remaining-space {
  flex: 1 1 auto;
}