.example-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-width: 300px;
    max-width: 90%;
    margin: 50px auto;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 90%;
  }