<div class="example-container mat-elevation-z8">
  <mat-toolbar>
    <span class="table-span">Dokumentų sąrašas</span>
    <span class="fill-remaining-space"></span>
    <span>
      <a matTooltip="Nauja darbo sutartis" class="table-header-icon" (click)="onNewEmploymentContract()"><mat-icon>assignment</mat-icon></a>
      <a matTooltip="Naujas NPD taikymo prašymas" class="table-header-icon" (click)="onNewNtiApplicationRequest()"><mat-icon>account_balance</mat-icon></a>
      <a matTooltip="Naujas atlyginimo pervedimo prašymas" matTooltipPosition="left" class="table-header-icon" (click)="onNewSalaryTransactionRequest()"><mat-icon>euro_symbol</mat-icon></a>
    </span>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="query">
  </mat-progress-bar>

  <!-- <button
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewEmploymentContract()"
    style="margin: 25px; display: inline-block; width: 180px">Nauja darbo sutartis
  </button>

  <button
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewNtiApplicationRequest()"
    style="margin: 25px; display: inline-block; width: 240px">Naujas NPD taikymo prašymas
  </button>

  <button
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewSalaryTransactionRequest()"
    style="margin: 25px; display: inline-block; width: 240px">Naujas atlyginimo pervedimo prašymas
  </button> -->

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Pavadinimas </mat-header-cell>
      <mat-cell *matCellDef="let document"> {{document.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Tipas </mat-header-cell>
      <mat-cell *matCellDef="let document">{{
        document.related_document_type === 'employment_contract' ? 'Darbo sutartis' : 
        document.related_document_type === 'nti_application_request' ? 'NPD taikymo prašymas' : 
        document.related_document_type === 'salary_transaction_request' ? 'Atlyginimo pervedimo prašymas' : ''
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createPDF">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 40px;"></mat-header-cell>
      <mat-cell *matCellDef="let document" style="flex: 0 0 40px;">
        <a matTooltip="Generuoti dokumento PDF" class="icon-link" (click)="onCreatePDF(document, $event)"><mat-icon>picture_as_pdf</mat-icon></a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 25px;"></mat-header-cell>
      <mat-cell *matCellDef="let document" style="flex: 0 0 25px;">
        <a matTooltip="Ištrinti dokumentą" class="icon-link" (click)="onDeleteDocument(document, $event)"><mat-icon>clear</mat-icon></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateDocument(row)" class="mat-table-row"></mat-row>
  </mat-table>
</div>
