.material-card {
    margin: 100px auto;
    padding: 50px 50px;
    min-width: 300px;
    max-width: 600px;
  }
  
  .form-input {
    width: 95%;
  }
  
  .half-width {
    width: 45%;
    margin-right: 3%;
  }
  
  .third-width {
    width: 30%;
    margin-right: 15px;
  }