<div class="dialog-window">
  <h2 *ngIf="data.editMode" mat-dialog-title>{{
      data.page === 'manage_requests' ? 'Prašymo administravimas' :
      data.page === 'my_requests' && data.asset_assignment.is_confirmed !== null ? 'Prašymas patvirtintas' :
      data.page === 'my_requests' ? 'Turto prašymo redagavimas' :
      data.page === 'my_assets' ? 'Man priskirtas turtas' : 'Priskirto turto įrašo redagavimas'
  }}</h2>
  <h2 *ngIf="!data.editMode" mat-dialog-title>{{
      data.page === 'my_requests' || data.page === 'my_assets' ? 'Naujas turto prašymas' : 'Priskirti turtą'
  }}
  </h2>

  <form (ngSubmit)="onSubmitAssetAssignment(f, data.asset_assignment)" #f="ngForm">

    <!-- Asmeniui ar ofisui -->
    <mat-dialog-content>
      <mat-form-field color="accent" class="half-width">
        <mat-select 
          [(ngModel)]="data.type" 
          placeholder="Kam priskirti" 
          name="type"
          required
          [disabled]="data.asset_assignment.is_confirmed !== null || data.page === 'manage_requests'">
          <mat-option value="employee">Asmeniui</mat-option>
          <mat-option value="office">Ofisui</mat-option>
        </mat-select>
      </mat-form-field>
      <br *ngIf="!data.type && (data.page === 'manage_requests' || !data.page)">

      <!-- Kuriam darbuotojui priskirta (jei priskirta darbuotojui) -->
      <mat-form-field *ngIf="data.type === 'employee' && (data.page === 'manage_requests' || !data.page || (data.page === 'my_assets' && data.editMode))" class="half-width">
        <input 
          matInput 
          name="assigned_to" 
          placeholder="Kam priskirta" 
          [matAutocomplete]="assignedToEmployee" 
          [(ngModel)]="data.asset_assignment.employee" 
          (keyup)="filterEmployees($event.target.value)"
          required
          [disabled]="data.editMode">
        <mat-autocomplete #assignedToEmployee="matAutocomplete" [displayWith]="employeeDisplayFn">
          <mat-option *ngFor="let employee of filteredEmployees" [value]="employee">
            {{ employee.contact.first_name }} {{ employee.contact.last_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Kuriam ofisui priskirta (jei priskirta ofisui) -->
      <mat-form-field *ngIf="data.type === 'office' && (data.page === 'manage_requests' || !data.page || (data.page === 'my_assets' && data.editMode))" class="half-width">
        <input
          matInput 
          name="assigned_to" 
          placeholder="Kam priskirta" 
          [matAutocomplete]="assignedToOffice" 
          [(ngModel)]="data.asset_assignment.office" 
          (keyup)="filterEmployees($event.target.value)"
          required
          [disabled]="data.editMode">
        <mat-autocomplete #assignedToOffice="matAutocomplete" [displayWith]="officeDisplayFn">
          <mat-option *ngFor="let office of filteredOffices" [value]="office">
            {{ office.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Terminas -->
      <mat-form-field color="accent" class="half-width">
        <input 
          matInput
          name="deadline"
          [(ngModel)]="data.asset_assignment.deadline"
          placeholder="Priskyrimo terminas"
          [matDatepicker]="picker1"
          required
          [disabled]="(data.page === 'my_requests' || data.page === 'my_assets') && data.asset_assignment.is_confirmed !== null">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year"></mat-datepicker>
      </mat-form-field>

      <!-- Prašymo tekstas -->
      <mat-form-field *ngIf="data.page" class="half-width">
        <textarea 
          matInput
          style="min-height: 15px" 
          name="request_message"
          placeholder="Prašymas"
          [(ngModel)]="data.asset_assignment.request_message"
          required
          [disabled]="(data.editMode && data.asset_assignment.is_confirmed !== null) || data.page === 'manage_requests'">
        </textarea>
      </mat-form-field>

      <!-- Priskyrimo data -->
      <mat-form-field *ngIf="data.page === 'manage_requests' || !data.page || (data.page === 'my_assets' && data.editMode)" color="accent" class="half-width">
        <input 
          matInput
          name="assignment_date"
          placeholder="Priskyrimo data"
          [(ngModel)]="data.asset_assignment.assignment_date"
          [matDatepicker]="picker2"
          required
          [disabled]="data.page === 'my_requests' || data.page === 'my_assets'">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="month"></mat-datepicker>
      </mat-form-field>

      <!-- Kas priskirta -->
      <mat-form-field *ngIf="data.page === 'manage_requests' || !data.page || (data.page === 'my_assets' && data.editMode)" color="accent" class="half-width">
        <input 
          matInput 
          name="asset" 
          placeholder="Kas priskirta" 
          [matAutocomplete]="assignedAsset"
          [(ngModel)]="data.asset_assignment.asset" 
          (keyup)="filterAssets($event.target.value)"
          required
          [disabled]="data.asset_assignment.is_confirmed !== null">
        <mat-autocomplete #assignedAsset="matAutocomplete" [displayWith]="assetDisplayFn">
          <mat-option *ngFor="let asset of filteredAssets" [value]="asset">
            {{ asset.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Grąžinimo data -->
      <!-- <mat-form-field *ngIf="data.managing" color="accent" class="half-width">
        <input 
          matInput
          name="return_date"
          placeholder="Grąžinimo data"
          [(ngModel)]="data.asset_assignment.return_date"
          [matDatepicker]="picker3">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3 startView="year"></mat-datepicker>
      </mat-form-field> -->

      <!-- Grąžinimo priežastis -->
      <!-- <mat-form-field *ngIf="data.asset_assignment.return_date && data.managing" class="half-width">
        <textarea 
          matInput 
          name="return_reason"
          placeholder="Grąžinimo priežastis"
          [(ngModel)]="data.asset_assignment.return_reason">
        </textarea>
      </mat-form-field>  -->

    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        *ngIf="(data.page === 'my_requests' && data.asset_assignment.is_confirmed === null) || (!data.editMode && data.page === 'my_assets')"
        mat-raised-button
        color="accent"
        type="button"
        (click)="onSubmitAssetRequest()"
        style="margin: 20px 10px 0 0; width: 120px;"
        [disabled]="!f.valid || data.asset_assignment.is_confirmed !== null">{{ data.editMode ? 'Atnaujinti' : 'Pateikti' }}
      </button>
        
      <button 
        *ngIf="!data.page"
        mat-raised-button
        color="accent"
        type="submit"
        style="margin: 20px 10px 0 0; width: 120px;"
        [disabled]="!f.valid">{{ data.editMode ? 'Atnaujinti' : 'Priskirti' }}
      </button>
      
      <div *ngIf="data.page === 'manage_requests'">
        <button
          mat-raised-button
          color="accent"
          type="button"
          style="margin: 20px 10px 0 0; width: 120px;"
          (click)="onConfirmRequest(true)"
          [disabled]="!f.valid">Patvirtinti
        </button>

        <button
          mat-raised-button
          color="warn"
          type="button"
          style="margin: 20px 10px 0 0; width: 120px;"
          (click)="onConfirmRequest(false)">Atmesti
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>
