<div class="dialog-window">
  <h2 mat-dialog-title>
    {{ data.managing ? 'Atostogų prašymas' : 
      (data.my_history && data.employee_holiday_history.is_confirmed !== null && data.editMode) ? 'Prašymas patvirtintas' : 
      (data.my_history && !data.editMode) ? 'Naujas atostogų prašymas' :
      data.my_history ? 'Atostogų prašymo redagavimas' :
      data.editMode ? 'Atostogų įrašo redagavimas' : 'Naujas atostogų įrašas' }}
  </h2>

  <form (ngSubmit)="onSubmitHolidayHistory(f, data.employee_holiday_history)" #f="ngForm">

    <mat-dialog-content style="min-height: 100px">

      <mat-form-field color="accent" class="half-width">
        <input 
          matInput
          name="from"
          placeholder="Data nuo"
          [(ngModel)]="data.employee_holiday_history.from"
          [matDatepicker]="picker1"
          [disabled]="data.managing || (data.my_history && data.employee_holiday_history.is_confirmed !== null && data.editMode)"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="month"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width">
        <input 
          matInput
          name="to"
          placeholder="Data iki"
          [(ngModel)]="data.employee_holiday_history.to"
          [matDatepicker]="picker2"
          [disabled]="data.managing || (data.my_history && data.employee_holiday_history.is_confirmed !== null && data.editMode)"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="month"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width">
        <mat-select 
          placeholder="Tipas" 
          name="type"
          [(ngModel)]="data.employee_holiday_history.type" 
          [disabled]="data.managing || (data.my_history && data.employee_holiday_history.is_confirmed !== null && data.editMode)"
          required>
            <mat-option value="Atostogos">Atostogos</mat-option>
            <mat-option value="Biuletenis">Biuletenis</mat-option>
            <mat-option value="Motinystės atostogos">Motinystės atostogos</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width">
        <input 
          matInput 
          name="responsible_employee" 
          placeholder="Atsakingas darbuotojas" 
          [matAutocomplete]="responsibleEmployeeAC" 
          [(ngModel)]="data.employee_holiday_history.responsible_employee" 
          (keyup)="filterEmployees($event.target.value)"
          [disabled]="data.managing || (data.my_history && data.employee_holiday_history.is_confirmed !== null && data.editMode)"
          required>
        <mat-autocomplete #responsibleEmployeeAC="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let responsible_employee of filteredEmployees" [value]="responsible_employee">
            {{ responsible_employee.contact.first_name }} {{ responsible_employee.contact.last_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
      <div *ngIf="data.managing; else elseBlock">
        <button
          mat-raised-button
          color="accent"
          type="button"
          style="margin: 20px 10px 0 0; width: 120px;"
          (click)="onConfirmRequest(true)">Patvirtinti
        </button>
        
        <button
          mat-raised-button
          color="warn"
          type="button"
          style="margin: 20px 10px 0 0; width: 120px;"
          (click)="onConfirmRequest(false)">Atmesti
        </button>
      </div>

      <ng-template #elseBlock>
        <div *ngIf="!data.my_history || (data.my_history && data.employee_holiday_history.is_confirmed === null) || !data.editMode">
          <button
            mat-raised-button
            color="accent"
            type="submit"
            style="margin: 20px 10px 0 0; width: 140px;"
            [disabled]="!f.valid">{{ editMode ? 'Atnaujinti' : 'Pateikti' }}
          </button>
    
          <button
            mat-raised-button
            color="warn"
            type="button"
            style="margin: 20px 10px 0 0; width: 140px;"
            (click)="onClear()">Išvalyti laukus
          </button>
        </div>
        
      </ng-template>
    
    </mat-dialog-actions>
  </form>
</div>
