<div class="example-container mat-elevation-z8">
  <mat-toolbar>
    <span class="table-span">{{
        my_history ? 'Mano atlyginimo istorija' : 'Atlyginimo istorija: ' + first_name + ' ' + last_name }}</span>
    <span class="fill-remaining-space"></span>
    <span>
      <a *ngIf="!my_history" matTooltip="Nauja atlyginimo istorija" class="table-header-icon" (click)="onNewSalaryHistory()"><mat-icon>euro_symbol</mat-icon></a>
    </span>
  </mat-toolbar>

  <mat-progress-bar
    *ngIf="loading"
    color="accent"
    mode="query">
  </mat-progress-bar>

  <!-- <button
    mat-raised-button
    class="table-button"
    color="accent"
    (click)="onNewSalaryHistory()"
    style="margin: 25px; width: 200px">Nauja atlyginimo istorija</button> -->

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef> Atlyginimas </mat-header-cell>
      <mat-cell *matCellDef="let employee_salary_history">{{ 
          employee_salary_history.salary ? (employee_salary_history.salary | number:'.2').toLocaleString() + ' €' : '-'
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef> Data nuo </mat-header-cell>
      <mat-cell *matCellDef="let employee_salary_history"> {{employee_salary_history.from}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="to">
      <mat-header-cell *matHeaderCellDef> Data iki </mat-header-cell>
      <mat-cell *matCellDef="let employee_salary_history"> {{employee_salary_history.to}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="variable_part_description">
      <mat-header-cell *matHeaderCellDef> Kintamos dalies aprašymas </mat-header-cell>
      <mat-cell *matCellDef="let employee_salary_history"> {{employee_salary_history.variable_part_description}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateSalaryHistory(row)" class="mat-table-row"></mat-row>
  </mat-table>
</div>
