<div class="dialog-window">
    <h2 mat-dialog-title>{{ data.my_history ? 'Darbo istorijos įrašas' : 
      editMode ? 'Darbo istorijos redagavimas' : 'Nauja darbo istorija' }}</h2>
  
    <form (ngSubmit)="onSubmitEmployeeHistory(f, data.employee_history)" #f="ngForm">

      <mat-dialog-content style="min-height: 100px">

        <mat-form-field class="third-width">
            <input 
              matInput 
              name="position" 
              placeholder="Pareigos" 
              [matAutocomplete]="positionAC" 
              [(ngModel)]="data.employee_history.position.name" 
              (keyup)="filterPositions($event.target.value)"
              [disabled]="data.my_history"
              required>
            <mat-autocomplete #positionAC="matAutocomplete">
              <mat-option *ngFor="let position of filteredPositions" [value]="position.name">
                {{ position.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
        <mat-form-field color="accent" class="third-width">
          <input 
            matInput
            name="from"
            placeholder="Data nuo"
            [(ngModel)]="data.employee_history.from"
            [matDatepicker]="picker1"
            [disabled]="data.my_history"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="month"></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field color="accent" class="third-width">
          <input 
            matInput
            name="to"
            placeholder="Data iki"
            [(ngModel)]="data.employee_history.to"
            [disabled]="data.my_history"
            [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 startView="month"></mat-datepicker>
        </mat-form-field>

      </mat-dialog-content>
  
      <mat-dialog-actions *ngIf="!data.my_history">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          style="margin: 20px 10px 0 0; width: 120px;"
          [disabled]="!f.valid">{{ editMode ? 'Atnaujinti' : 'Sukurti istoriją' }}
        </button>
  
        <button
          mat-raised-button
          color="warn"
          type="button"
          style="margin: 20px 10px 0 0; width: 120px;"
          (click)="onClear()">
          Išvalyti laukus
        </button>
      </mat-dialog-actions>
    </form>
  </div>
  