<div class="dialog-window">
  <h2 mat-dialog-title>{{ data.editMode ? 'Dokumento redagavimas' : 'Naujas dokumentas' }}</h2>

  <form (ngSubmit)="onSubmitDocument()" #f="ngForm">
    <mat-dialog-content>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="title" placeholder="Dokumento pavadinimas" [(ngModel)]="data.document.title" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input 
          matInput
          name="date"
          placeholder="Sutarties data"
          [(ngModel)]="data.document.employment_contract.date"
          [matDatepicker]="picker1"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="month"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="registration_number" placeholder="Registracijos numeris" [(ngModel)]="data.document.employment_contract.registration_number" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="employer" placeholder="Darbdavys" [(ngModel)]="data.document.employment_contract.employer" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="employer_code" placeholder="Darbdavio kodas" [(ngModel)]="data.document.employment_contract.employer_code" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="employer_representative" placeholder="Darbdavio atstovas" [(ngModel)]="data.document.employment_contract.employer_representative" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="employer_representative_nin" placeholder="Darbdavio atstovo asmens kodas" [(ngModel)]="data.document.employment_contract.employer_representative_nin" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="employee_first_name" placeholder="Darbuotojo vardas" [(ngModel)]="data.document.employment_contract.employee_first_name" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="employee_last_name" placeholder="Darbuotojo pavardė" [(ngModel)]="data.document.employment_contract.employee_last_name" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="employee_identity_card_number" placeholder="Darbuotojo tapatybės kortelės nr." [(ngModel)]="data.document.employment_contract.employee_identity_card_number" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input 
          matInput
          name="employee_identity_card_issuance_date"
          placeholder="Tapatybės kortelės išdavimo data"
          [(ngModel)]="data.document.employment_contract.employee_identity_card_issuance_date"
          [matDatepicker]="picker2"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="year"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="employee_nin" placeholder="Darbuotojo asmens kodas" [(ngModel)]="data.document.employment_contract.employee_nin" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput name="employee_address" placeholder="Darbuotojo adresas" [(ngModel)]="data.document.employment_contract.employee_address" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="employee_position" placeholder="Darbuotojo pareigos" [(ngModel)]="data.document.employment_contract.employee_position" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input matInput type="number" name="employee_salary" placeholder="Darbuotojo atlyginimas" [(ngModel)]="data.document.employment_contract.employee_salary" required>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input matInput name="employee_salary_comment" placeholder="Darbuotojo atlyginimo komentaras" [(ngModel)]="data.document.employment_contract.employee_salary_comment">
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-first">
        <input 
          matInput
          name="valid_from"
          placeholder="Sutarties įsigaliojimo data"
          [(ngModel)]="data.document.employment_contract.valid_from"
          [matDatepicker]="picker3"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3 startView="year"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="half-width-second">
        <input 
          matInput
          name="started_from"
          placeholder="Darbo pradžios data"
          [(ngModel)]="data.document.employment_contract.started_from"
          [matDatepicker]="picker4"
          required>
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4 startView="year"></mat-datepicker>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="margin: 20px 10px 0 0; width: 160px;"
        [disabled]="!f.valid">{{ data.editMode ? 'Atnaujinti' : 'Sukurti dokumentą' }}
      </button>

      <button
        mat-raised-button
        color="warn"
        type="button"
        style="margin: 20px 10px 0 0; width: 160px;"
        (click)="onClear()">
        Išvalyti laukus
      </button>
    </mat-dialog-actions>
  </form>
</div>
